body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw; /* Prend toute la largeur de la fenêtre */
  position: fixed; /* Fixe le header en haut de la page */
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #457be7; /* Bleu un peu plus clair */
  color: white;
  padding: 6px 14px; /* Hauteur réduite */
  box-sizing: border-box; /* Pour éviter que le padding déborde */
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 180px; /* Logo plus petit */
  margin-right: 8px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.jpo-link {
  font-weight: bold;
  text-decoration: underline;
  color: white;
  font-size: 1.6em; /* Titre plus petit */
}

.header-right a {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

/* Pour éviter que le contenu passe sous le header */
.main-content {
  padding-top: 48px; /* Ajuste selon la nouvelle hauteur du header */
}
